.btn,
.btn:link,
.btn:visited{
    border: none;
    outline: none;
    color: #fff;
    background-color: $color-btn;
    padding: 1.4rem 2.5rem; 
    border-radius: .5rem;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .5s;

    &:hover,
    &:active{
        background-color: #072753;

    }
}

.heading-1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
}

.heading-2{
    font-size: 4rem;
    font-weight: 700;
    color: #072753;
    text-transform: capitalize;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.heading-3{
    font-size: 2rem;
    font-weight: 500;
    color: #072753;
    
}

.heading-4{
    font-size: 1.5rem;
    font-weight: 400;
}

.p-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.section-header{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;

    @media only screen and (max-width:$bp-small-medium){
        width: 95%;
    }
   @media only screen and (max-width:$bp-small-medium){
        width: 100%;
    }
}

.mb-sm{  margin-bottom: 2rem; }
.mb-md{  margin-bottom: 3rem; }
.mb-lg{  margin-bottom: 4rem; }
.mb-hg{  margin-bottom: 6rem; }

.btn-text{
    font-size: 1.5rem;
    color: #072753;
    text-transform: capitalize;
    transition: all .3s;

    &:hover{
        color: #000;
    }
}